<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="stock_style.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        // define some global variables
    </script>
</head>
    
<body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '126883171316784',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.11'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div class="center" ng-controller="myCtrl as ctrl" layout="column" ng-cloak="" ng-app="stockApp">
    <div class="container-fluid well">
        <div class="col-sm-3"> Enter Stock Ticker Symbol <b>*</b> </div>
        <div class="col-sm-6">
<!--
            <pre>$error = {{ searchForm.autocompleteField.$error | json }}
            </pre>
-->
            <form name="searchForm">
                <label>
                <md-autocomplete md-input-name="autocompleteField" ng-disabled="ctrl.isDisabled" md-no-cache="ctrl.noCache"
                md-selected-item="ctrl.selectedItem" 
                md-selected-item-change="ctrl.selectedItemChange(item)" 
                md-search-text="ctrl.searchText" 
                md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                md-items="item in ctrl.searchQuery(ctrl.searchText)" 
                md-item-text="item.display" placeholder="eg. AAPL" 
                required>
                    <md-item-template>
                      <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                    </md-item-template>
                </md-autocomplete>
                </label>
                <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
                    <div ng-message="pattern"> invalid input </div>
                    <div ng-message="maxlength">Your entry is too long.</div>
                    <div class="message" ng-message="required"> Required </div>
                </div>
            </form>
        </div>
        
        <div class="col-sm-3">
            <button class="btn btn-primary" ng-click="ctrl.getQuote()" ng-disabled="searchForm.autocompleteField.$error.required">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Get Quote
            </button>
            <button class="btn btn-default" onclick='initCache()'> 
                <span class="glyphicon glyphicon-refresh" aria-hidden="true" ng-click="ctrl.clear()"> Clear </span>
            </button>
        </div>
    </div>
    
    <hr>
    
    <div id="stockframe" class="well">
        <div id="favlist" class="slide-left container-fluid panel panel-default" ng-hide="ctrl.favDetToggle">
            <div class="panel-heading row justify-content-between"> 
                <b> Favorite List </b>
                <span class="float-right">
                    <span class="collapse"> Automatic Refresh </span>
                    <input id="refresh-tog" type="checkbox" data-toggle="toggle" ng-model="ctrl.autoRefreshEnabled">
                    <button type="button" class="btn btn-default" ng-click="ctrl.refreshFavList()">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-default" ng-click="ctrl.favDetToggle=true" ng-disabled="ctrl.detailDisabled">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </span>
            </div>
            <div class="panel-body row">
                <div class="col-sm-12">
                    <div>
                        <b> Sort by </b>
                        <select ng-init="ctrl.sortType=ctrl.sortFields[0]" ng-model="ctrl.sortType" ng-options="field for field in ctrl.sortFields">
                        </select>
                        <b> Order </b>
                        <select ng-init="ctrl.sortOrder=ctrl.sortOrders[1]" ng-model="ctrl.sortOrder" ng-options="o for o in ctrl.sortOrders" ng-disabled="ctrl.sortType == 'Default'">
                        </select>
                    </div>
                    <div>
                        {{ctrl.favList}}
                        <table>
                            <col width="10%">
                            <col width="20%">
                            <col width="30%">
                            <col width="20%">
                            <col width="20%">
                            <tr>
                                <th> Symbol </th>
                                <th> Stock Price </th>
                                <th> Change (Change Percent) </th>
                                <th> Volume </th>
                                <th> delete </th>
                            </tr>
                            
                            <tr ng-repeat="stock in ctrl.favList | orderBy : ctrl.mySortKey : ctrl.sortOrder === ctrl.sortOrders[1]">
                                <td> <a href="#" ng-click="ctrl.getQuote(stock.symbol)">
                                    {{stock.symbol}} 
                                    </a>
                                </td>
                                <td> {{stock.price}} </td>
                                <td> {{stock.change}} </td>
                                <td> {{stock.volume}} </td>
                                <td> <span class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="ctrl.removeFav(stock.symbol)"></span> </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div id="details" class="slide-right row panel panel-default" ng-hide="!ctrl.favDetToggle">
            <div class="panel-heading"> 
                <button class="btn btn-default" ng-click="ctrl.favDetToggle=false">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </button>
                Stock Details 
            </div>
            <div class="panel-body col-sm-12">
                <div class="row">
                    <div class="col-sm-12 bottom-buffer">
                    <ul class="nav nav-pills row">
                        <li class="active"><a data-toggle="tab" href="#curstock">Current Stock</a></li>
                        <li ng-click="ctrl.getHistChart()"><a data-toggle="tab" href="#histchart">Historical Charts</a></li>
                        <li><a data-toggle="tab" href="#newsfeed" ng-click="ctrl.getNewsFeeds()">News Feeds</a></li>
                    </ul>
                    </div>
                </div>
                <div class="row tab-content">
                    <div id="curstock" class="row tab-pane fade in active">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12">
                                <b> Stock Details </b>
                                    <span class="float-right">
                                        <button class="btn btn-default" ng-click="ctrl.addFav()" ng-if=!ctrl.favStored ng-disabled="ctrl.progressShow.infotab || ctrl.alertMessageShow.infotab">
                                            <span class="glyphicon glyphicon-star-empty button-img" aria-hidden="true"></span>
                                        </button>
                                        <button class="btn btn-default" ng-click="ctrl.removeFav()" ng-if=ctrl.favStored ng-disabled="ctrl.progressShow.infotab || ctrl.alertMessageShow.infotab">
                                            <span class="glyphicon glyphicon-star yellow button-img"></span>
                                        </button>
                                        <button class="btn btn-default" ng-disabled="ctrl.progressShow.infotab || ctrl.alertMessageShow.infotab" ng-click="ctrl.sharePlot()">
                                            <img src="http://cs-server.usc.edu:45678/hw/hw8/images/facebook.png" class="button-img" />
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div id= "infotab" class="row">
                                <div class="col-sm-12">
                                    <div class="progress" ng-if="ctrl.progressShow.infotab">
                                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50%"></div>
                                    </div>
                                    <div>
                                        <table>
                                            <col width="50%">
                                            <col width="50%">
                                            <tr ng-repeat="row in ctrl.table">
                                                <th> {{row.head}} </th>
                                                <td> {{row.data}} </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="alert alert-danger" role="alert" ng-if="ctrl.alertMessageShow.infotab">
                                        Error! Failed to get current stock data 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12 bottom-buffer">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a data-toggle="tab" ng-href="#Price" ng-click="ctrl.loadIndicator('Price')">Price</a>
                                        </li>
                                        <li ng-repeat="indicator in ctrl.indicators"> 
                                            <a data-toggle="tab" ng-href="#{{indicator}}" ng-click="ctrl.loadIndicator(indicator)"> {{indicator}} </a> 
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 tab-content">
                                    <div id="Price" class="row justify-content-center tab-pane fade in active">
                                        <div id="Price-plot" class="col-sm-12" ng-hide="ctrl.progressShow.Price || ctrl.alertMessageShow.Price"></div>
                                        <div class="col-sm-10 progress" ng-if="ctrl.progressShow.Price">
                                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50%"></div>
                                        </div>
                                        <div class="col-sm-10 alert alert-danger" role="alert" ng-if="ctrl.alertMessageShow.Price">
                                            Error! Failed to get Price data 
                                        </div>
                                    </div>
                                    <div id="{{indicator}}" class="row justify-content-center tab-pane fade" ng-repeat=" indicator in ctrl.indicators">
                                        <div id="{{indicator}}-plot" class="col-sm-12" ng-hide="ctrl.progressShow[indicator] || ctrl.alertMessageShow[indicator]"></div>
                                        <div class="col-sm-10 progress" ng-if="ctrl.progressShow[indicator]">
                                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50%"></div>
                                        </div>
                                        <div class="col-sm-10 alert alert-danger" role="alert" ng-if="ctrl.alertMessageShow[indicator]"> 
                                            Error! Failed to get {{indicator}} data 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="histchart" class="row tab-pane fade">
                        <div class="col-sm-12">
                            <div id="histchartplot"></div>
                            <div class="progress" ng-if="ctrl.progressShow.histchart">
                                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50%"></div>
                            </div>
                            <div class="alert alert-danger" role="alert" ng-if="ctrl.alertMessageShow['histchart']">
                                Error! Failed to get historical charts data 
                            </div>
                        </div>
                    </div>
                    <div id="newsfeed" class="row tab-pane fade">
                        <div class="col-sm-12">
                            <div ng-repeat="item in ctrl.news" class="well newsitem">
                                <a href="{{item.link}}" target="_blank">
                                    <h4>{{item.title}} </h4>
                                </a>
                                <p> {{item.author}} </p>
                                <p> {{item.pubDate}} </p>
                            </div>
                            <div class="progress" ng-if="ctrl.progressShow.newsfeed">
                                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50%"></div>
                            </div>
                            <div class="alert alert-danger" role="alert" ng-if="ctrl.alertMessageShow['newsfeed']">
                                Error! Failed to get news feed data 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--    jQuery    -->
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    
<!--    Angular    -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>
<script src="http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js"></script>


<!-- Highcharts -->
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>

    
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script>
  $(function() {
    $('#refresh-tog').bootstrapToggle();
  })
</script>
    
<!-- self part -->
<script src="./stockinfo.js"></script>
<script src="./stockApp.js"></script>

</body>
</html>
