<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="stock_style.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        // define some global variables
    </script>
</head>
    
<body>
<div class="center" ng-controller="myCtrl as ctrl" layout="column" ng-cloak="" ng-app="stockApp">
    <div class="container-fluid well">
        <div class="col-sm-3"> Enter Stock Ticker Symbol <b>*</b> </div>
        <div class="col-sm-6">
<!--
            <pre>$error = {{ searchForm.autocompleteField.$error | json }}
            </pre>
-->
            <form name="searchForm">
                <label>
                <md-autocomplete md-input-name="autocompleteField" ng-disabled="ctrl.isDisabled" md-no-cache="ctrl.noCache"
                md-selected-item="ctrl.selectedItem" 
                md-selected-item-change="ctrl.selectedItemChange(item)" 
                md-search-text="ctrl.searchText" 
                md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                md-items="item in ctrl.searchQuery(ctrl.searchText)" 
                md-item-text="item.display" placeholder="eg. AAPL" 
                required>
                    <md-item-template>
                      <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                    </md-item-template>
                </md-autocomplete>
                </label>
                <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
                    <div ng-message="pattern"> invalid input </div>
                    <div ng-message="maxlength">Your entry is too long.</div>
                    <div class="message" ng-message="required"> Required </div>
                </div>
            </form>
        </div>
        
        <div class="col-sm-3">
<!--
            onclick="console.log(selectedText);
                        showStockDetails(selectedText, 'infotab', 'stockchart')"
-->
            <button ng-click="ctrl.getQuote()" ng-disabled="searchForm.autocompleteField.$error.required"> 
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Get Quote
            </button>
            <button onclick='initCache()'> <span class="glyphicon glyphicon-refresh" aria-hidden="true"> Clear </span>
            </button>
        </div>
    </div>
    <br>
    

    <div id="stockframe" class="container-fluid well">
        <div id="favlist" class="slide-left panel panel-default" ng-hide="ctrl.favDetToggle">
            <div class="panel-heading"> Favorite List
                <input type="checkbox" data-toggle="toggle">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                </button>
                <button class="btn btn-default" ng-click="ctrl.favDetToggle=true" ng-disabled="">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>
            <div class="panel-body">Panel Content</div>
        </div>

        <div id="details" class="slide-right panel panel-default" ng-hide="!ctrl.favDetToggle">
            <div class="panel-heading"> 
                <button class="btn btn-default" ng-click="ctrl.favDetToggle=false">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </button>
                Stock Details 
            </div>
            <div class="panel-body container">
                <div class="row">
                    <div class="col">
                    <ul class="nav nav-pills row">
                        <li class="active"><a data-toggle="tab" href="#curstock">Current Stock</a></li>
                        <li onclick="plotHistChart()"><a data-toggle="tab" href="#histchart">Historical Charts</a></li>
                        <li><a data-toggle="tab" href="#newsfeed" ng-click="ctrl.getNewsFeeds()">News Feeds</a></li>
                    </ul>
                    </div>
                </div>
                <div class="row tab-content">
                    <div id="curstock" class="tab-pane fade in active">
                        <div id= "infotab" class="col">
                            <div class="progress" style="display: none">
                                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%"></div>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#stockchart">Price</a></li>
                                    <li><a data-toggle="tab" onclick="processIndicator('SMA')" href="#SMA">SMA</a></li>
                                    <li onclick="processIndicator('EMA')"><a data-toggle="tab" href="#EMA">EMA</a></li>
                                    <li onclick="processIndicator('STOCH')"><a data-toggle="tab" href="#STOCH">STOCH</a></li>
                                    <li onclick="processIndicator('RSI')"><a data-toggle="tab" href="#RSI">RSI</a></li>
                                    <li onclick="processIndicator('ADX')"><a data-toggle="tab" href="#ADX">ADX</a></li>
                                    <li onclick="processIndicator('CCI')"><a data-toggle="tab" href="#CCI">CCI</a></li>
                                    <li onclick="processIndicator('BBANDS')"><a data-toggle="tab" href="#BBANDS">BBANDS</a></li>
                                    <li onclick="processIndicator('MACD')"><a data-toggle="tab" href="#MACD">MACD</a></li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div id="stockchart" class="tab-pane fade in active" >
                                    chart
                                </div>
                                <div id="SMA" class="tab-pane fade">
                                    sma
                                </div>
                                <div id="EMA" class="tab-pane fade">
                                    ema
                                </div>
                                <div id="STOCH" class="tab-pane fade">
                                    stoch
                                </div>
                                <div id="RSI" class="tab-pane fade">
                                    rsi
                                </div>
                                <div id="ADX" class="tab-pane fade">
                                    adx
                                </div>
                                <div id="CCI" class="tab-pane fade">
                                    cci
                                </div>
                                <div id="BBANDS" class="tab-pane fade">
                                    bbands
                                </div>
                                <div id="MACD" class="tab-pane fade">
                                    macd
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="histchart" class="tab-pane fade">
                        histchart
                    </div>
                    <div id="newsfeed" class="tab-pane fade">
                        newsfeed
                        <div>
                            <div ng-repeat="item in ctrl.news" class="well newsitem">
                                <a href="{{item.link}}" target="_blank">
                                    <h4>{{item.title}} </h4>
                                </a>
                                <p> {{item.author}} </p>
                                <p> {{item.pubDate}} </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>
<script src="http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<!-- Highcharts -->
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>

<!-- self part -->
<!--<script src="./autocompleteModule.js"></script>-->
<script src="./stockinfo.js"></script>
<script src="./stockApp.js"></script>

</body>
</html>
