body {
    background-image: url("http://cs-server.usc.edu:45678/hw/hw8/images/background.png")
}


:invalid, :required {
    border: 5px sold #ffdddd;
}

/*
div {
    margin: 0 auto;
}
*/

div.center {
    width: 80%;
    margin: 0 auto;
}

div.message {
    font-size: 12px;
}

div.well {
    background-color: white;
}

div.newsitem {
    background-color: rgb(238,238,238);
    margin-left: 6px;
    margin-right: 6px;
}

br {
    margin-top: 20px;
    margin-bottom: 20px;
}
